@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        width: 100px;
    }
    100%{
        transform: rotate(360deg);
        width: 140px;
    }
}